# Funciones anónimas Lambda

## Importación de bibliotecas

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

## Funciones Lambda simples

In [2]:
cuadrado = lambda x : x ** 2
cuadrado

In [3]:
cuadrado(10)

100

In [4]:
cuadrado(10 + 5j)

(75+100j)

In [5]:
agregar_elemento = lambda x, a : x.append(a)
agregar_elemento

In [6]:
agregar_elemento(["a", "b"], "c")

In [7]:
lista = ["a", "b"]
agregar_elemento(lista, "c")
lista

['a', 'b', 'c']

## Datasets de prueba en Seaborn

In [8]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [9]:
df = sns.load_dataset("car_crashes")
df.head()

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses,abbrev
0,18.8,7.332,5.640,18.048,15.040,784.55,145.08,AL
1,18.1,7.421,4.525,16.290,17.014,1053.48,133.93,AK
2,18.6,6.510,5.208,15.624,17.856,899.47,110.35,AZ
3,22.4,4.032,5.824,21.056,21.280,827.34,142.39,AR
4,12.0,4.200,3.360,10.920,10.680,878.41,165.63,CA

In [10]:
df["total2"] = df.apply(lambda x : x["total"] * 10, axis = 1)
df.head()

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses,abbrev,total2
0,18.8,7.332,5.640,18.048,15.040,784.55,145.08,AL,188.0
1,18.1,7.421,4.525,16.290,17.014,1053.48,133.93,AK,181.0
2,18.6,6.510,5.208,15.624,17.856,899.47,110.35,AZ,186.0
3,22.4,4.032,5.824,21.056,21.280,827.34,142.39,AR,224.0
4,12.0,4.200,3.360,10.920,10.680,878.41,165.63,CA,120.0

In [11]:
df["total3"] = df["total"].apply(lambda x : x * 100)
df.head()

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses,abbrev,total2,total3
0,18.8,7.332,5.640,18.048,15.040,784.55,145.08,AL,188.0,1880.0
1,18.1,7.421,4.525,16.290,17.014,1053.48,133.93,AK,181.0,1810.0
2,18.6,6.510,5.208,15.624,17.856,899.47,110.35,AZ,186.0,1860.0
3,22.4,4.032,5.824,21.056,21.280,827.34,142.39,AR,224.0,2240.0
4,12.0,4.200,3.360,10.920,10.680,878.41,165.63,CA,120.0,1200.0

In [12]:
df["ins_premium_type"] = df["ins_premium"].apply(lambda x : "High" if x >= 1000 else "Regular" if x >= 750 else "Low")
df.sample(10)

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses,abbrev,total2,total3,ins_premium_type
12,15.3,5.508,4.437,13.005,14.994,641.96,82.75,ID,153.0,1530.0,Low
28,14.7,5.439,4.704,13.965,14.553,1029.87,138.71,NV,147.0,1470.0,High
31,18.4,3.496,4.968,12.328,18.032,869.85,120.75,NM,184.0,1840.0,Regular
36,19.9,6.368,5.771,18.308,18.706,881.51,178.86,OK,199.0,1990.0,Regular
4,12.0,4.200,3.360,10.920,10.680,878.41,165.63,CA,120.0,1200.0,Regular
7,16.2,6.156,4.860,14.094,16.038,1137.87,151.48,DE,162.0,1620.0,High
43,19.4,7.760,7.372,17.654,16.878,1004.75,156.83,TX,194.0,1940.0,High
29,11.6,4.060,3.480,10.092,9.628,746.54,120.21,NH,116.0,1160.0,Low
26,21.4,8.346,9.416,17.976,18.190,816.21,85.15,MT,214.0,2140.0,Regular
46,12.7,2.413,3.429,11.049,11.176,768.95,153.72,VA,127.0,1270.0,Regular

In [13]:
df["score_spal"] = df.apply(lambda x : x["speeding"] * x["alcohol"], axis = 1)
df.sample(10)

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses,abbrev,total2,total3,ins_premium_type,score_spal
12,15.3,5.508,4.437,13.005,14.994,641.96,82.75,ID,153.0,1530.0,Low,24.438996
33,16.8,6.552,5.208,15.792,13.608,708.24,127.82,NC,168.0,1680.0,Low,34.122816
18,20.5,7.175,6.765,14.965,20.090,1281.55,194.78,LA,205.0,2050.0,High,48.538875
46,12.7,2.413,3.429,11.049,11.176,768.95,153.72,VA,127.0,1270.0,Regular,8.274177
35,14.1,3.948,4.794,13.959,11.562,697.73,133.52,OH,141.0,1410.0,Low,18.926712
16,17.8,4.806,4.272,13.706,15.130,780.45,133.80,KS,178.0,1780.0,Regular,20.531232
24,17.6,2.640,5.456,1.760,17.600,896.07,155.77,MS,176.0,1760.0,Regular,14.403840
9,17.9,3.759,5.191,16.468,16.826,1160.13,144.18,FL,179.0,1790.0,High,19.512969
6,10.8,4.968,3.888,9.396,8.856,1068.73,167.02,CT,108.0,1080.0,High,19.315584
1,18.1,7.421,4.525,16.290,17.014,1053.48,133.93,AK,181.0,1810.0,High,33.580025

In [14]:
df["abbrev"] = df["abbrev"].apply(lambda x : x.lower())
df.sample(10)

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses,abbrev,total2,total3,ins_premium_type,score_spal
12,15.3,5.508,4.437,13.005,14.994,641.96,82.75,id,153.0,1530.0,Low,24.438996
49,13.8,4.968,4.554,5.382,11.592,670.31,106.62,wi,138.0,1380.0,Low,22.624272
34,23.9,5.497,10.038,23.661,20.554,688.75,109.72,nd,239.0,2390.0,Low,55.178886
9,17.9,3.759,5.191,16.468,16.826,1160.13,144.18,fl,179.0,1790.0,High,19.512969
43,19.4,7.760,7.372,17.654,16.878,1004.75,156.83,tx,194.0,1940.0,High,57.206720
41,19.4,6.014,6.402,19.012,16.684,669.31,96.87,sd,194.0,1940.0,Low,38.501628
0,18.8,7.332,5.640,18.048,15.040,784.55,145.08,al,188.0,1880.0,Regular,41.352480
11,17.5,9.450,7.175,14.350,15.225,861.18,120.92,hi,175.0,1750.0,Regular,67.803750
45,13.6,4.080,4.080,13.056,12.920,716.20,109.61,vt,136.0,1360.0,Low,16.646400
4,12.0,4.200,3.360,10.920,10.680,878.41,165.63,ca,120.0,1200.0,Regular,14.112000

In [15]:
df.describe()

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses,total2,total3,score_spal
count,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000
mean,15.790196,4.998196,4.886784,13.573176,14.004882,886.957647,134.493137,157.901961,1579.019608,26.715907
std,4.122002,2.017747,1.729133,4.508977,3.764672,178.296285,24.835922,41.220022,412.200218,19.019463
min,5.900000,1.792000,1.593000,1.760000,5.900000,641.960000,82.750000,59.000000,590.000000,3.195558
25%,12.750000,3.766500,3.894000,10.478000,11.348000,768.430000,114.645000,127.500000,1275.000000,14.120400
50%,15.600000,4.608000,4.554000,13.857000,13.775000,858.970000,136.050000,156.000000,1560.000000,20.012852
75%,18.500000,6.439000,5.604000,16.140000,16.755000,1007.945000,151.870000,185.000000,1850.000000,35.436272
max,23.900000,9.450000,10.038000,23.661000,21.280000,1301.520000,194.780000,239.000000,2390.000000,88.994518